.byebug_history
.git
.gitignore
.rspec-failures
.circleci
.ebextensions
.elasticbeanstalk
.keys
.terraform

config/master.key
coverage
docker-compose*
Dockerfile
log
node_modules
public/assets
public/packs
public/packs-test
test
terraform.tf
tmp
storage
